ion-item {
  --padding-start: 0px;


}

//
::ng-deep.mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


::ng-deep.mat-menu-panel {
  min-width: 200px !important;
  max-width: 350px !important;

}

ion-fab-button {
  --background: rgb(255, 134, 51);
  --background-focused: rgb(205, 104, 35);
  --background-hover: rgb(205, 104, 35);
  --background-activated: rgb(205, 104, 35);
  --color: rgb(255, 255, 255);
  --color-hover: rgb(255, 255, 255);
  --color-activated: rgb(255, 255, 255);
  --color-focused: rgb(255, 255, 255);
  --box-shadow: none;
  --ripple-color: rgba(0, 0, 0, 0.3);
}

