ion-item {
  scroll-section-1padding-start: 0px;


}

ion-content {
  --ion-background-color: #010101;
}

//
::ng-deep.mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


::ng-deep.mat-menu-panel {
  min-width: 200px !important;
  max-width: 350px !important;

}

ion-fab-button {
  --background: rgb(255, 134, 51);
  --background-focused: rgb(205, 104, 35);
  --background-hover: rgb(205, 104, 35);
  --background-activated: rgb(205, 104, 35);
  --color: rgb(255, 255, 255);
  --color-hover: rgb(255, 255, 255);
  --color-activated: rgb(255, 255, 255);
  --color-focused: rgb(255, 255, 255);
  --box-shadow: none;
  --ripple-color: rgba(0, 0, 0, 0.3);
}


p {
  line-height: 1.6;
}
a {
  color: white;
  text-decoration: none;
}

//body.before-load {
//  overflow: hidden;
//}
//.containerBox {
//  /* iPhone 가로 스크롤 방지 */
//  overflow-x: hidden;
//}
.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}
.local-nav {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
}
.local-nav-sticky .local-nav {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  /* for iPhone */
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}
.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
}
.global-nav-links {
  justify-content: space-between;
}
.local-nav-links .product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}
.local-nav-links a {
  font-size: 0.8rem;
}
.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}
.scroll-section {
  position: relative;
}
.product-name {
  font-family: 'Pacifico', cursive;
}
#scroll-section-0 h1 {
  font-family: 'Pacifico', cursive;
  position: relative;
  top: 45vh;
  z-index: 5;
  font-size: 4rem;
  text-align: center;
  color: #FF9F59;
}
.product-name {
  color: #FF9F59;
}
.main-message {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin: 5px 0;
  height: 3em;
  font-size: 2.5rem;
  opacity: 0;
}
.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}
.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
#scroll-section-2 .main-message {
  font-size: 3.5rem;
}
.description {
  font-family: 'Nanum Pen Script', cursive;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: white;
}
.stone1 {
  text-align: center;
  max-width: 1000px;
  max-height: 50px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 50px;
}

.stone2 {
  text-align: center;
  max-width: 1000px;
  max-height: 40px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 50px;
}
.description strong {
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: white;
}
.sticky-elem.desc-message {
  width: 45%;
  font-weight: bold;
  opacity: 0;
}
.pin {
  width: 1px;
  height: 100px;
  background: rgb(29, 29, 31);
}
#scroll-section-2 .b {
  top: 10%;
  left: 40%;
}
#scroll-section-2 .c {
  top: 15%;
  left: 45%;
}
.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;
}
.mid-message strong {
  color: rgb(29, 29, 31);
}
.canvas-caption {
  max-width: 1000px;
  margin: -24rem auto 0;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}
.footer {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  color: white;
  background: #FF9F59;
}
.sticky-elem {
  display: none;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.scroll-effect-end .sticky-elem {
  /* 스크롤 효과가 모두 끝나고, 아래 일반 콘텐츠 영역에서는 sticky-elem들을 모두 안보이도록 */
  display: none !important;
}
.sticky-elem-canvas {
  height: 100%;
  text-align: center;
}
.sticky-elem-canvas canvas {
  position: sticky;
  top: 0;
  left: 0;
}

#show-scene-0 #scroll-section-0 .sticky-elem {
  display: block;
  will-change: transform, opacity;
}

#scroll-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-blend-canvas.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: white;
  opacity: 0;
  transition: 0.5s;
}
.before-load .containerBox {
  display: none;
}
.before-load .loading {
  opacity: 1;
}
@keyframes loading-spin {
  100% { transform: rotate(360deg); }
}
@keyframes loading-circle-ani {
  0% { stroke-dashoffset: 157; }
  75% { stroke-dashoffset: -147; }
  100% { stroke-dashoffset: -157; }
}
.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
}
.loading-circle circle {
  stroke: black;
  stroke-width: 4;
  /* getTotalLength()로 stroke의 길이를 얻어올 수 있음 */
  stroke-dasharray: 157, 157;
  stroke-dashoffset: 0;
  fill: transparent;
  animation: loading-circle-ani 1s infinite;
  /* transition: 1s; */
}
/* .loading-circle:hover circle {
	stroke-dashoffset: -157;
} */

.normal-content {
  margin-bottom: 10rem;
}

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  .description {
    padding: 0;
    font-size: 2rem;
  }
  .description strong {
    font-size: 6rem;
  }
  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
  .main-message small {
    font-size: 1.5vw;
  }
  .sticky-elem.desc-message {
    width: 20%;
  }
  #scroll-section-2 .b {
    top: 20%;
    left: 53%;
  }
  #scroll-section-2 .c {
    left: 55%;
  }
  .mid-message {
    width: 1000px;
    padding: 0;
    font-size: 4vw;
  }
  .canvas-caption {
    margin-top: -8rem;
    padding: 0;
    font-size: 2rem;
  }
}
