<ion-content [id] = "'show-scene-0'" [scrollEvents]="true" (ionScroll)="scrollEvent($event.detail.scrollTop)" class="mainContent" >
    <section>
        <img class="sticky-img" style="height: 100vh; width: 100%" src="assets/main/video/001/IMG_ (1).jpg">
        <nav class="global-nav">
            <div class="global-nav-links">
                <a class="global-nav-item" (click)="app.go('img-block')" style="color: white">Stacking Blocks</a>
                <a href="#" class="global-nav-item">준비중</a>
                <a href="#" class="global-nav-item">준비중</a>
                <a href="#" class="global-nav-item">준비중</a>
            </div>
        </nav>
        <nav class="local-nav">
            <div class="local-nav-links">
                <a href="#" class="product-name">Playground</a>
            </div>
        </nav>
        <div class="scroll-section" id="scroll-section-0">
            <h1>Playground.</h1>
        </div>
        <div class="sticky-elem first">
            Animation
            <br>
            <img src="../../assets/icon/cat.png">
        </div>
        <div class="sticky-elem second">
            Animation
            <br>
            <img src="../../assets/icon/cat.png">
        </div>
        <div class="sticky-elem third">
            Animation
            <br>
            <img src="../../assets/icon/cat.png">
        </div>
        <!-- <div class="sticky-elem b">
            <p>OPEN API</p>
        </div>
        <div class="sticky-elem c">
            <p>온종일 편안한<br>맞춤형 손잡이</p>
        </div>
        <div class="sticky-elem d">
            <p>새롭게 입가를<br>찾아온 매혹</p>
        </div> -->
    </section>
    <section class="scroll-section" id="scroll-section-1-5">
        <p class="description">
            .
        </p>
        <p class="description">
            .
        </p>
        <p class="description">
            .
        </p>
        <p class="description mt-3 mb-3">
        하고 싶은 것이 많은 나이, 즐기고 싶은게 많은 나이. 나만의 Playground에서 나만의 놀이로 누구보다 재미있게 놀아보자.
        </p>
        <p class="stone1">
            <ion-icon  src="../../assets/icon/stone1.svg" style="margin-right: 10%"></ion-icon>
        </p>
        <p class="stone2">
            <ion-icon  src="../../assets/icon/stone2.svg" style="margin-left: 10%"></ion-icon>
        </p>
        <p class="stone1">
            <ion-icon  src="../../assets/icon/stone3.svg" style="margin-right: 10%"></ion-icon>
        </p>
        <p class="stone2">
            <ion-icon  src="../../assets/icon/stone1.svg" style="margin-left: 10%"></ion-icon>
        </p>
        <p class="stone1">
            <ion-icon  src="../../assets/icon/stone4.svg" style="margin-right: 10%"></ion-icon>
        </p>
        <p class="stone2">
            <ion-icon  src="../../assets/icon/stone2.svg" style="margin-left: 10%"></ion-icon>
        </p>
        <p class="stone1">
            <ion-icon  src="../../assets/icon/stone1.svg" style="margin-right: 10%"></ion-icon>
        </p>
        <p class="stone2">
            <ion-icon  src="../../assets/icon/stone3.svg" style="margin-left: 10%"></ion-icon>
        </p>
    </section>
    <footer class="footer" (click)="app.go('img-block')">
        <div>
            LET 'S GO TO PLAY !!!
        </div>
    </footer>
</ion-content>

