ion-content {
  --ion-background-color: #010101;
}

//
::ng-deep.mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


::ng-deep.mat-menu-panel {
  min-width: 200px !important;
  max-width: 350px !important;

}

ion-fab-button {
  --background: rgb(255, 134, 51);
  --background-focused: rgb(205, 104, 35);
  --background-hover: rgb(205, 104, 35);
  --background-activated: rgb(205, 104, 35);
  --color: rgb(255, 255, 255);
  --color-hover: rgb(255, 255, 255);
  --color-activated: rgb(255, 255, 255);
  --color-focused: rgb(255, 255, 255);
  --box-shadow: none;
  --ripple-color: rgba(0, 0, 0, 0.3);
}
a {
  color: white;
  text-decoration: none;
}

//body.before-load {
//  overflow: hidden;
//}
//.containerBox {
//  /* iPhone 가로 스크롤 방지 */
//  overflow-x: hidden;
//}
.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}
.local-nav {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
}
.local-nav-sticky .local-nav {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  /* for iPhone */
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}
.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
}
.global-nav-links {
  justify-content: space-between;
}
.local-nav-links .product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}
.local-nav-links a {
  font-size: 0.8rem;
}
.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}
.scroll-section {
  position: relative;
}
.product-name {
  font-family: 'Pacifico', cursive;
}
#scroll-section-0 h1 {
  font-family: 'Pacifico', cursive;
  position: relative;
  z-index: 5;
  font-size: 4rem;
  text-align: center;
  color: #FF9F59;
}
.product-name {
  color: #FF9F59;
}
.stone1 {
  text-align: center;
  max-width: 1000px;
  max-height: 50px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 50px;
}

.stone2 {
  text-align: center;
  max-width: 1000px;
  max-height: 40px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 50px;
}

.pin {
  width: 1px;
  height: 100px;
  background: rgb(29, 29, 31);
}
.footer {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  color: white;
  background: #FF9F59;
}

.scroll-effect-end .sticky-elem {
  /* 스크롤 효과가 모두 끝나고, 아래 일반 콘텐츠 영역에서는 sticky-elem들을 모두 안보이도록 */
  display: none !important;
}

.description {
  font-family: 'Nanum Pen Script', cursive;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: white;
}
.sticky-img {
  position: sticky;
  top: 0;
  left: 0;
}

.normal-content {
  margin-bottom: 10rem;
}

.sticky-elem {
  font-family: 'Nanum Pen Script', cursive;
  position: fixed;
  font-size: 1.7rem;
  text-align: center;
  color: #FF9F59;
  left: 33%;
}

.sticky-elem img {
  max-width: 100px;
  max-height: 100px;
}

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }

  .description strong {
    font-size: 6rem;
  }
  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
}
