ion-item {
  --padding-start: 0px;


}
ion-content {
  --ion-color-primary: #FF9F59;
}

::ng-deep.mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


::ng-deep.mat-menu-panel {
  min-width: 200px !important;
  max-width: 350px !important;

}

ion-fab-button {
  --background: rgb(255, 134, 51);
  --background-focused: rgb(205, 104, 35);
  --background-hover: rgb(205, 104, 35);
  --background-activated: rgb(205, 104, 35);
  --color: rgb(255, 255, 255);
  --color-hover: rgb(255, 255, 255);
  --color-activated: rgb(255, 255, 255);
  --color-focused: rgb(255, 255, 255);
  --box-shadow: none;
  --ripple-color: rgba(0, 0, 0, 0.3);
}

.upload-button {
  position: fixed;
  right: 1%;
  top: 1%;
}

.select-button {
  position: fixed;
  right: 9%;
  top: 1.7%;
  max-width: 187px;
  font-family: 'Noto Sans KR', sans-serif;
}



.back-button {
  position: fixed;
  left: 1%;
  top: 1%;
}

.upload-comments {
  position: absolute;
  font-family: 'Londrina Solid', cursive;
  font-size: 1.4rem;
  color: #FF9F59;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #333;
  overflow: hidden;
}

section h1 {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  line-height: 100vh;
  font-size: 5vw;
  color: white;
}

section .spin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.banner .blocks {
  position: relative;
  display: block;
  width: 5vw;
  height: 5vw;

  animation: animate 0.55s ease-in-out forwards;
}
