<ion-content >
    <section>
        <h1>Hello Animation World.</h1>
        <div class="banner">
            <div class="blocks"></div>
        </div>
    </section>
    <ion-button class="back-button" (click)="app.go('playground-main')"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    <div class="upload-button" >
        <ion-button (click)="filelistInput.click()"> <ion-icon name="cloud-upload-outline"></ion-icon></ion-button>
        <input #filelistInput
               (change)="file_upload($event)" accept="image/*"
               (click)="file_input_rest($event)"
               class="invisible"
               multiple
               style="position: absolute;"
               type="file">
    </div>
</ion-content>
